<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title>Details for {{ date }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="summary">
  <app-ontario></app-ontario>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Details for {{ date }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <strong>Previous Day Total Doses Administered:</strong> {{
        summary.previous_day_total_doses_administered }}
      </p>
      <p>
        <strong>Total Doses Administered:</strong> {{
        summary.total_doses_administered }}
      </p>
      <p>
        <strong>Total Doses in Fully Vaccinated Individuals:</strong> {{
        summary.total_doses_in_fully_vaccinated_individuals }}
      </p>
      <p>
        <strong>Total Individuals Fully Vaccinated:</strong> {{
        summary.total_individuals_fully_vaccinated }}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label position="floating">Enter Data</ion-label>
    <ion-input [(ngModel)]="inputData"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="sendData()">Send</ion-button>
</ion-content>
